<h2>I am analysis tab</h2>
<input date-range-picker class="form-control date-picker" type="text" ng-model="$ctrl.datePicker.date" />
<p>The date range is {{$ctrl.datePicker.date}}</p>

<div>
    <button ng-click="$ctrl.startAnalysis()">Start Analysis</button>
    <div>
        <div ng-repeat="column in $ctrl.columnNamesObjs">
            <input ng-checked="column.isDefault" ng-model="column.isChecked" type="checkbox" name="{{column.name}}" value="{{column.name}}">
            {{column.name}}
        </div>
    </div>
</div>

<table st-table="$ctrl.displayed" st-safe-src="$ctrl.data" class="table table-striped">
    <thead>
        <col>
        <colgroup ng-repeat="outerColumn in $ctrl.outerColumnNames" span="4"></colgroup>
        <tr>
            <th>Name</th>
            <th ng-repeat="outerColumn in $ctrl.outerColumnNames" colspan="4" scope="colgroup">
                {{outerColumn.name}}
            </th>
        </tr>
        <tr>
            <th></th>
            <div ng-repeat="outerColumn in $ctrl.outerColumnNames">
                <th ng-repeat="innerColumn in $ctrl.innerColumnNames" scope="col">
                    {{innerColumn.name}}
                </th>
            </div>
        </tr>
    </thead>
</table>

