<h2>I am analysis tab</h2>
<input date-range-picker class="form-control date-picker" type="text" ng-model="$ctrl.datePicker.date" />
<p>The date range is {{$ctrl.datePicker.date}}</p>

<div>
    <button ng-click="$ctrl.startAnalysis()">Start Analysis</button>
    <div>
        <div ng-repeat="column in $ctrl.columnNamesObjs">
            <input ng-checked="column.isDefault" ng-model="column.isChecked" type="checkbox" name="{{column.name}}" value="{{column.name}}">
            {{column.name}}
        </div>
    </div>
</div>
