<!-- Sidebar -->
<div id="sidebar-selector-wrapper">
    <div class="just-padding">

        <div id="selectionHolder">
        <div id="headerHere" class="fixedButtons">
            <div class="btn-group" role="group" aria-label="...">
                <button ng-click="" type="button" class="disabled btn btn-default glyphicon glyphicon-home"></button>
                <button ng-click="" type="button" class="disabled btn btn-default  glyphicon glyphicon-tag"></button>
                <button ng-click="" type="button" class="disabled btn btn-default glyphicon glyphicon-book"></button>
            </div>
        </div>


            <div class="list-group list-group-root well">
                <div ng-repeat="attrib in $ctrl.selection" >
                <span class="sidebar-item list-group-item selectorItem">
                    <div id="itemText">

                        <h6 id="buildingName">{{attrib.buildingName}}</h6>
                        {{  attrib.parentName + " | " + attrib.name }}
                </span>
                </div>
        <!--
        <div class="form-group">
            <input type="text" class="form-control" id="usr"  ng-model="search.name">
        </div>

         -->
    </div>
</div>
<!-- /#sidebar-wrapper -->
