
#textHere {
    border: 3px solid #dddddd;
    border-radius: 5px;
    flex: 30;
    text-align: center;
    vertical-align:middle;
    overflow: hidden;
}

.selectItem {
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}

.hiddenListItem {
    z-index: 1;
    position: absolute;
    opacity: 0;
    top: 36px;
    width: 86%;
    height: 100%;
    border: 5px solid rebeccapurple;/*for debugging*/
}

.hiddenListItem #selectorItem {
    opacity: 0;
}

.fixedButtons .btn-group {
    display: flex;
    overflow: hidden;
    width: 100%;
}

#headerHere{
    border: 0px solid grey;
    border-radius: 0px;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
#selectionHolder{
    overflow: hidden;
    display: flex;
    position: absolute;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.disabled{
    opacity: 0.5;
    background-color: gainsboro;
}

#wrapper.toggledSelector {
    /*padding-left: 250px;*/
}

#sidebar-selector-wrapper {
    z-index: 1000;
    position: relative;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: hidden;
    background: white;
    /* Closing animation */
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}


#sidebar-selector-wrapper .sidebar-item {
    padding: 4px 2px;
}

#wrapper.toggledSelector #sidebar-selector-wrapper {
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Sidebar Styles */


#side-bar-selector .list-group.list-group-root {
    padding: 1px;
    padding-bottom: 0px;
    border: none;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1 1;
    margin-bottom: 0;
}

@media(min-width:768px) {
    #wrapper {
        /* padding-left: 250px;*/
    }

    #wrapper.toggledSelector {
        /*padding-left: 0;*/
    }

    #sidebar-selector-wrapper {
        width: 100%;
        /* Opening Transision */
        transition: all 0.1s ease;
    }

    #wrapper.toggledSelector #sidebar-selector-wrapper {
        width: 0;
        /* Closing Transition */
        transition: all 2s ease;
    }
}


#buildingName {
    margin-bottom: 0;
    margin-top: 0;
    display: inline-block;
    font-size: x-small;
    color: #b9b9b9; /*Gray*/
}

#itemBtn{
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 2%;
    font-size: small;
}

#itemText{
    display: inline-block;
    flex: 1 1;
}


#sideBarDrop {
    border-style: inset;
    border-width: 5px;
    /*background-image: linear-gradient(to bottom,#e8e8e8 0,#f5f5f5 100%);*/
    overflow-y: auto;
}

.toggledSelector #sideBarDrop{
    border: none;
    padding: 0px;
}

#searchBox{
    z-index: 999;
    overflow: hidden;
}

#wrapper.toggledSelector #searchBox {
    z-index: 999;
    width: 0px;
    display: none;
}

#sideBarDropText {
    position: relative;
    margin: auto;
    text-align: center;
    top: 40%;
    font-size: 3em;
    color: #888ca2;
    font-family: Roboto;
    font-weight: bolder;
    letter-spacing: .005em;
    /* -webkit-text-stroke-color: rgba(0, 0, 0, 0.39); */
    /* -webkit-text-stroke-width: 1px; */
}