<!-- Sidebar -->
<div id="sidebar-selector-wrapper">
    <div class="just-padding">

        <div id="selectionHolder">
        <div id="headerHere" class="fixedButtons">
            <div class="btn-group" role="group" aria-label="...">
                <button ng-click="" type="button" class="disabled btn btn-default glyphicon glyphicon-home"></button>
                <button ng-click="" type="button" class="disabled btn btn-default  glyphicon glyphicon-tag"></button>
                <button ng-click="$ctrl.clearSelected()" type="button" class="btn btn-default glyphicon glyphicon-trash"></button>
            </div>
        </div>

        <!-- <div id="textHere"> Drop Items Here</div>-->
        <div class="list-group list-group-root well" id="sideBarDrop">
            <p ng-if="$ctrl.selected.length < 2" id="sideBarDropText">
                Drop <br>
                Items <br>
                Here
            </p>
            <div ng-repeat="element in $ctrl.selected" class="selectItem" custom-drop-target="side-selector" custom-drop-success="$ctrl.onDropSuccess(item)" ng-class="{hiddenListItem: $ctrl.isDummyItem(element)}">
                <span class="sidebar-item list-group-item selectorItem">
                    <div id="itemText">
                        <h6 id="buildingName">{{element.building}}</h6>
                        <br>
                        {{element.name}}
                    </div>
                    <div id="itemBtn">
                        <span ng-show="!$ctrl.isDummyItem(element)" class="glyphicon glyphicon-remove pointer" ng-click="$ctrl.removeElement(element);$event.stopPropagation()"></span>
                    </div>

                </span>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- /#sidebar-wrapper -->
