<!-- Sidebar -->
<div id="sidebar-selector-wrapper">
    <div class="just-padding">

        <div id="selectionHolder">
        <div id="headerHere" class="fixedButtons">
            <div class="btn-group" role="group" aria-label="...">
                <button ng-click="" type="button" class="disabled btn btn-default glyphicon glyphicon-home"></button>
                <button ng-click="" type="button" class="disabled btn btn-default  glyphicon glyphicon-tag"></button>
                <button ng-click="" type="button" class="disabled btn btn-default glyphicon glyphicon-book"></button>
            </div>
        </div>

        <!-- <div id="textHere"> Drop Items Here</div>-->
        <div class="list-group list-group-root well">
            <div ng-repeat="element in $ctrl.selected" >
                <span class="sidebar-item list-group-item">{{element.name}}</span>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- /#sidebar-wrapper -->
