body {
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 100%;
}

.container{height: 100%;}

#menu-bar {
    height: 0;
    overflow: hidden;
    flex: 1 1 7%;
    /*border: 5px solid red;*/
}

#dashbboard {
    height: 0;
    flex: 1 1 93%;
    /*border: 5px solid green;*/
}

.table tbody tr > td.dataCell {
    text-align: center;
}

.table tbody tr > td.dataCell.bad {
    background-color: red;
}

.table tbody tr > td.dataCell.missing {
    background-color: #555555;
}

.table tbody tr > td.dataCell.selected {
    background-color: green;
}

.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }

 chart-view {
     overflow: auto;
 }

 .view-finder {
     position: fixed;
     left: 110;
     bottom: 0;
     background-color: white;
     border-color: black;
     border-style: solid;
     border-width: 3px;
     width: 100%;
 }