.tableSettingsButtons{
    /* float: right; */
    position: fixed;
    /* display: inline-block; */
    z-index: 999;
    transform: translate(0%, -100%);
    right: 0px;
}

/*.dropdownPullRight {
  float: right !important;
  right: 0;
  left: auto;
}*/

.tableButton{
	/*padding: 14px 40px;*/
	min-width: 100px;
}

.saveTemplateButton{
  color: red;
}

/* Has same CSS as Bootstrap dropdown class except for floar: right;*/
.menuDropdown{
	/*float: right;*/
    position: relative;
    display: inline-block;
}

#columnBtnSelected {

}

#columnBtnThrash {

}

.dropdownelm{
    border: 1px solid gray;
}

.colSelected{
    background-color: rgba(33, 137, 195, 0.32);
}

.dropdownelm:hover{
    background-color: #66afe9;
    border: 1px solid black;
}

.dropdownFilters{
    position: relative;
    flex-shrink: 0;
}
.dropdownList{
    overflow-y: auto;
    flex-grow: 1;
}

.open > #menuDropdownContent {
    display: flex;
    flex-direction: column;
}