.tableSettingsButtons{
    /*float: right; */
    /* position: fixed; */
    /* display: inline-block; */
    z-index: 999;
    /* transform: translate(0%, -100%); */
    right: 0px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.tableSettingsButtons .menuDropdown .dropdown-menu{
    right: 0px;
    left: inherit;
}
/*.dropdownPullRight {
  float: right !important;
  right: 0;
  left: auto;
}*/

.tableButton{
    /* padding: 14px 40px; */
    /* min-width: 100px; */
    height: 100%;
    width: 100%;
    padding: 0px;
    background-color: #4a5571;
    color: #c6cdd9;
    text-shadow: initial;
}

.saveTemplateButton{
  color: red;
}

/* Has same CSS as Bootstrap dropdown class except for floar: right;*/
.menuDropdown{
    position: relative;
    display: inline-flex;
    padding: 0px;
    margin: 0px;
    /* margin-left: -2px; */
    /* margin-right: -2px; */
    height: 100%;
    align-items: center;
    justify-content: center;
    flex: 1 1;
    max-width: 80px;
}

.menuDropdownIcon{
    max-width: 40px;
}
#columnBtnSelected {

}

#columnBtnThrash {

}

.dropdownelm{
    border: 1px solid gray;
}

.colSelected{
    background-color: rgba(33, 137, 195, 0.32);
}

.dropdownelm:hover{
    background-color: #66afe9;
    border: 1px solid black;
}

.dropdownFilters{
    position: relative;
    flex-shrink: 0;
}
.dropdownList{
    overflow-y: auto;
    flex-grow: 1;
}

.open > #menuDropdownContent {
    display: flex;
    flex-direction: column;
}

.colCheckedFilterBtn {
    background-color: red;
    border: 3px solid green;
}