<!-- Sidebar -->
<div id="sidebar-chart-wrapper">
    <div class="just-padding">

        <div id="selectionHolder">
        <div id="headerHere" class="fixedButtons">
            <div class="btn-group" role="group" aria-label="...">
                <button ng-click="$ctrl.clearSelected()" type="button" class="btn btn-default glyphicon glyphicon-trash pointer"></button>
            </div>
        </div>

        <!-- <div id="textHere"> Drop Items Here</div>-->
        <div class="list-group list-group-root well" id="sideBarChart">
            <p ng-if="$ctrl.selection.length === 0" id="sideBarChartText">
                Click on <br>
                table cells <br>
                to add items
            </p>
            <div ng-repeat="attrib in $ctrl.selection" >
                <span class="sidebar-item list-group-item selectorItem">
                    <div id="itemText">
                        <h6 id="buildingName">{{attrib.buildingName}}</h6>
                        <br>
                        {{  attrib.parentName + " | " + attrib.name }}
                    </div>

                    <div id="itemBtn">
                        <span class="glyphicon glyphicon-remove pointer" ng-click="$ctrl.removeChartElement(attrib);$event.stopPropagation()"></span>
                    </div>


                </span>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- /#sidebar-wrapper -->
