<div  ng-repeat="e in element.elements">
    <div class="list-group-item">
        <span ng-hide="e.hasChildren && e.show" class="glyphicon glyphicon-plus" ng-click="$ctrl.clickElem(e)"></span>
        <span ng-show="e.hasChildren && e.show" class="glyphicon glyphicon-minus" ng-click="$ctrl.clickElem(e)"></span>
        <span ng-click="$ctrl.onSelectElem(e)" class="pointer" >{{e.name}}</span>
    </div>

    <div class="list-group" ng-if="e.elements && e.show" ng-include="'side-nav/side-nav-heirarchy-template.html'" ng-init="element=e"></div>
</div>
