<div  ng-repeat="e in element.elements">
    <div ng-click="$ctrl.onSelectElem(e)" class="sidebar-item list-group-item " ng-class="{selected: $ctrl.isSelectedElem(e), loading: $ctrl.elemIsLoading(e)}">
        <span ng-show="$ctrl.showLeafNodeIcon(e)" class="glyphicon glyphicon-modal-window"></span>
        <span ng-show="$ctrl.showClosedIcon(e)" class="glyphicon glyphicon-chevron-right pointer" ng-click="$ctrl.clickElem(e);$event.stopPropagation()"></span>
        <span ng-show="$ctrl.showOpenIcon(e)" class="glyphicon glyphicon-chevron-down pointer" ng-click="$ctrl.clickElem(e);$event.stopPropagation()"></span>
        <span  class="" >{{e.name}}</span>
    </div>

    <div class="list-group" ng-if="e.elements && e.show" ng-include="'side-nav/side-nav-heirarchy-template.html'" ng-init="element=e"></div>
</div>
