<div  custom-drag-src-safe="side-selector" index="$index" ng-repeat="e in elems = (element.elements )">
    <div ng-click="$ctrl.clickedItem(e);$event.stopPropagation()"  ng-dblclick="$ctrl.dblClickedItem(e);$event.stopPropagation()" class="sidebar-item list-group-item " ng-class="{selected: $ctrl.isSelectedElem(e), loading: $ctrl.elemIsLoading(e)}">
        <span ng-show="$ctrl.showLeafNodeIcon(e)" class="glyphicon glyphicon-asterisk" ></span>
        <span ng-show="$ctrl.showLeafNodeIcon(e)" class="glyphicon glyphicon-modal-window"></span>


        <span ng-show="$ctrl.showClosedIcon(e)" class="glyphicon glyphicon-triangle-right pointer" ng-click="$ctrl.clickElem(e);$event.stopPropagation()"></span>
        <span ng-show="$ctrl.showOpenIcon(e)" class="glyphicon glyphicon-triangle-bottom pointer" ng-click="$ctrl.clickElem(e);$event.stopPropagation()"></span>

        <span ng-show="!$ctrl.showLeafNodeIcon(e) && $ctrl.showClosedIcon(e)" class="glyphicon glyphicon glyphicon-folder-close" ></span>
        <span ng-show="!$ctrl.showLeafNodeIcon(e) && $ctrl.showOpenIcon(e)" class="glyphicon glyphicon glyphicon-folder-open" ></span>

        <span id="sideBarAddBtn" ng-click="$ctrl.onSelectElem(e);$event.stopPropagation()" class="glyphicon glyphicon-ok"></span>
        <span  class="" >{{e.name}}</span>
    </div>
    <div class="list-group" ng-if="e.elements && e.show" ng-include="'side-nav/side-heirarchy-template.html'" ng-init="element=e"></div>
</div>
<p ng-hide="elems.length">Nothing here!</p>
