<!-- Sidebar -->
<div id="sidebar-wrapper">
    <div class="just-padding">

        <div class="list-group list-group-root well">
            <div ng-repeat="element in buildings">
                <a  ng-click="clickElem(element)"  class="list-group-item">
                    <span class="glyphicon glyphicon-plus"></span>{{element.name}}</a>
                <div class="list-group"
                                        ng-include="'side-nav/side-nav-heirarchy-template.html'"
                                        ng-if="element.show">

                </div>
            </div>

        </div>

    </div>
</div>
<!-- /#sidebar-wrapper -->
