<div  ng-repeat="e in element.elements">
    <div ng-click="$ctrl.onSelectElem(e)" class="sidebar-item list-group-item ">
        <span ng-show="!e.hasChildren" class="glyphicon glyphicon-folder-open"></span>
        <span ng-show="e.hasChildren && !e.show" class="glyphicon glyphicon-chevron-right pointer" ng-click="$ctrl.clickElem(e)"></span>
        <span ng-show="e.hasChildren && e.show" class="glyphicon glyphicon-chevron-down pointer" ng-click="$ctrl.clickElem(e)"></span>
        <span  class="" >{{e.name}}</span>
    </div>

    <div class="list-group" ng-if="e.elements && e.show" ng-include="'side-nav/side-nav-heirarchy-template.html'" ng-init="element=e"></div>
</div>
