

  <div class="dropdown" ng-if="$ctrl.columnNames">
  <button onclick="ShowColumnList()" class="dropbtn">Columns</button>
    <div id="myDropdown" class="dropdown-content">
      <a ng-repeat="column in $ctrl.columnNames"> {{column}} </a>
    </div>
  </div>


<table st-table="$ctrl.displayed" st-safe-src="$ctrl.data" class="table table-striped"
    <thead>
    <tr>
        <th st-sort="Name">Name</th>
        <th ng-repeat="column in $ctrl.columnNames" st-sort="$ctrl.getters.value.bind(null, column)" lr-drag-src="header" lr-drop-target="header"> {{column}} </th>
    </tr>

    <tr>
    <th colspan="4">
        <input st-search="Name" placeholder="search for name..." class="input-sm form-control" type="search"/>
    </th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="element in $ctrl.displayed">
        <td>{{element.Name}}</td>
        <td ng-repeat="column in $ctrl.columnNames" ng-class="$ctrl.valueStyle(element[column])">
            {{$ctrl.formatValue(element[column])}} 
        </td> 
    </tr> 

    </tbody>
</table>





