<div class="input-group">
    <input type="text" class="form-control" placeholder="Interval" ng-model="$ctrl.interval">
    <!-- This span needed to have select inline with input text -->
    <span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
    <select class="selectpicker form-control" ng-model="$ctrl.intervalUnits" ng-options="option.name for option in $ctrl.intervalOptions"></select>
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.generateChart()">Graph</button>
    </span>
</div>

<nvd3 options="$ctrl.options" data="$ctrl.data" api="$ctrl.api"><nvd3>