<!--NOTE: for this we use the  columnNamesObjs however in the actual table we use columnNames -->

<div class="tableParent">
    <div class="tableMenus">
        <column-template-dropdown columns="$ctrl.columnNamesObjs" update-col-obj= "$ctrl.updateCol(cols)"
        row-data="$ctrl.data" is-analysis="'false'"
        elem-name="$ctrl.elemName">
        </column-template-dropdown>
    </div>

    <span class="dataTitle"> DATA TAB </span>


<table st-table="$ctrl.displayed" st-safe-src="$ctrl.data" class="table table-striped">
    <img ng-if="!$ctrl.displayed" id="mainLogo" src="../img/ecoMainLogo.png">
    <thead>
    <tr>
        <th st-sort="building">Building</th>
        <th st-sort="name">Name</th>
        <th ng-repeat="column in $ctrl.columnNamesObjs" ng-if="column.isChecked" st-sort="$ctrl.getters.value.bind(null, column.name)" lr-drag-src="header" lr-drop-target="header">
            {{column.units === "" ? column.name : column.name + " (" + column.units + ")"}}
        </th>

    </tr>

    <tr>
        <th colspan="4">
            <input st-search="name" placeholder="search for name..." class="input-sm form-control" type="search"/>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <!-- 2 blank spaces for building and name -->
        <td> </td> 
        <td> </td>
        <td ng-repeat="column in $ctrl.columnNamesObjs" ng-if="column.isChecked">        
            <div class="btn-group-xs" role="group" aria-label="...">
                <button ng-click="" type="button" class="btn btn-default glyphicon glyphicon-cog"></button>
                <button ng-click="$ctrl.switchShowConditionalFormat(column)" type="button" class="btn btn-default  glyphicon glyphicon-pencil"></button>
                <button ng-click="column.isChecked=false" type="button" class="btn btn-default glyphicon glyphicon-trash"></button>
            </div>
        </td>
    </tr>

    <tr ng-repeat="element in $ctrl.displayed">
        <td class="bold">{{element.building}}</td>
        <td class="bold">{{element.name}}</td>
        <td ng-repeat="column in $ctrl.columnNamesObjs" ng-if="column.isChecked" ng-class="$ctrl.valueStyle(element[column.name])" ng-style="$ctrl.conditionalFormat(element[column.name], column.showConditionalFormat)" ng-click="$ctrl.toggleCellSelected(element[column.name])">
            {{$ctrl.formatValue(element[column.name])}}
        </td>
    </tr>
    </tbody>

    <tbody ng-if="$ctrl.displayed.length > 0">
    <tr>
        <td></td>
        <td class="bold">Total</td>
        <td ng-repeat="column in $ctrl.columnNamesObjs" ng-if="column.isChecked" class="bold goodValue">
            {{$ctrl.sums[column.name] | number:2}}
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="bold">Average</td>
        <td ng-repeat="column in $ctrl.columnNamesObjs" ng-if="column.isChecked" class="bold goodValue">
            {{$ctrl.averages[column.name] | number:2}}
        </td>
    </tr>
    </tbody>
</table>
