<!--NOTE: for this we use the  columnNamesObjs however in the actual table we use columnNames -->

<column-template-dropdown columns="$ctrl.columnNamesObjs" update-col-obj= "$ctrl.updateCol(cols)" row-data="$ctrl.data" is-analysis="'false'" ></column-template-dropdown>
<img ng-if="!$ctrl.displayed" id="mainLogo" src="../img/ecoMainLogo.png">

<table id="dataTable" ng-if="$ctrl.displayed" st-table="$ctrl.displayed" st-safe-src="$ctrl.data"  class="table table-striped">

    <thead id="dataTableHead">
    <tr>
        <th st-sort="building">Building</th>
        <th st-sort="name">Name</th>
        <th  ng-repeat="column in $ctrl.columnNamesObjs" ng-style="{'max-width': column.width, 'min-width': column.width}" ng-if="column.isChecked" st-sort="$ctrl.getters.value.bind(null, column.name)" lr-drag-src="header" lr-drop-target="header">
            {{column.units === "" ? column.name : column.name + " (" + column.units + ")"}}
            {{column.width }}
        <!-- From merge with SideBarSelectorRefactor, found in Master
        <th ng-if="!$ctrl.reorderEnabled" ng-repeat="column in $ctrl.columnNamesObjs" ng-if="column.isChecked" st-sort="$ctrl.getters.value.bind(null, column)">
            {{column.units === "" ? column.name : column.name + " (" + column.units + ")"}}
        -->
        </th>

    </tr>

    <tr>
        <th colspan="4">
            <input st-search="name" placeholder="search for name..." class="input-sm form-control" type="search"/>
        </th>
    </tr>
    </thead>

    <tbody id="dataTableBody">
    <tr ng-repeat="element in $ctrl.displayed">
        <td class="bold">{{element.building}}</td>
        <td class="bold">{{element.name}}</td>
        <td ng-repeat="column in $ctrl.columnNamesObjs" ng-if="column.isChecked" ng-class="$ctrl.valueStyle(element[column.name])" ng-click="$ctrl.toggleCellSelected(element[column.name])">
            {{$ctrl.formatValue(element[column.name])}}
        </td>
    </tr>
    </tbody>

    <tbody ng-if="$ctrl.displayed.length > 0">
    <tr>
        <td></td>
        <td class="bold">Total</td>
        <td ng-repeat="column in $ctrl.columnNamesObjs" ng-if="column.isChecked" class="bold goodValue">
            {{$ctrl.sums[column.name] | number:2}}
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="bold">Average</td>
        <td ng-repeat="column in $ctrl.columnNamesObjs" ng-if="column.isChecked" class="bold goodValue">
            {{$ctrl.averages[column.name] | number:2}}
        </td>
    </tr>
    </tbody>
</table>

<script>
    var dataTableWidths = $('#dataTableBody tr td').width();
    var onTableWidthChange = function () {
        console.log("new width is: ");
        console.log(dataTableWidths);
    };


    /* A full compatability script from MDN: */
    var supportPageOffset = window.pageXOffset !== undefined;
    var isCSS1Compat = ((document.compatMode || "") === "CSS1Compat");



    var scrollable = document.getElementById("page-content-wrapper");
    var scrollLeft = scrollable.scrollLeft;

    scrollable.onscroll = function() {
        //console.log("SCRL");
        var dataTableHead = document.getElementById("dataTableHead");
        var x = scrollable.scrollLeft;
        //console.log(x);

        dataTableHead.style.marginLeft = -x + "px";
        //demoItem3.style.top = -y + 50 + "px";
    };
</script>
