#side-bar {
    /*border: 5px dotted red;*/
    width: 0;
    flex: 0 1 auto;
    transition: all .5s ease;
}
#wrapper.toggled #side-bar {
    width: 0;
    flex: 1 1 auto;
    transition: all 0.5s ease;
}

@media(min-width:768px) {
    #side-bar {
        /*border: 5px dotted red;*/
        width: 0;
        flex: 1 1 auto;
        transition: all .5s ease;
    }
    #wrapper.toggled #side-bar {
        flex: 0 1 auto;
        transition: all 0.5s ease;
    }
}
