<!-- /#wrapper -->
<div id="wrapper" class="toggledSelector">
    <!-- SideBar module -->

    <side-bar id="side-bar" is-loading="$ctrl.isLoading" on-click="$ctrl.onNavigateTo(name, webId)"></side-bar>
    <side-bar-selector id="side-bar-selector" loading="$ctrl.loading" on-click="$ctrl.onNavigateTo(name, webId)"></side-bar-selector>
    <!-- Page Content -->
    <div id="page-content-wrapper">

        <!-- Loading Bar
        <div ng-show="$ctrl.isLoading['data']" class="progress" >
            <div class="progress-bar progress-bar-striped active" role="progressbar"
                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                Loading...
            </div>
        </div>
        -->
        <!--Tab buttons-->
        <div class="btn-group" role="group" aria-label="...">
            <a ng-click="$ctrl.toggleMenu()" class="btn btn-default " id="menu-toggle" data-toggle="tooltip" title="Show/Hide Menu">
                <span class="glyphicon glyphicon-menu-hamburger">
                </span>
            </a>

            <a ng-click="$ctrl.toggleSelectorMenu()" class="btn btn-default" id="menu-selector-toggle">
                <span class="glyphicon glyphicon-inbox" data-toggle="tooltip" title="Show/Hide Christians' second menu thingy that doesn't work. That he says works, but Anthony hasn't connected it yet, but also Temoc hasn't made a copy of the lr-dragnDrop javascript so there's that."></span>
            </a>

            <button ng-click="$ctrl.showDataTab()" type="button" class="btn btn-default" ng-class="{buttonLoad: $ctrl.isLoading['data']}" data-toggle="tooltip" title="Data Tab" >Data
                <span  ng-show="$ctrl.isLoading['data']" class="buttonLoadIcon glyphicon glyphicon-hourglass" ></span>
            </button>
            <button ng-click="$ctrl.showAnalyzeTab()" type="button" class="btn btn-default" ng-class="{buttonLoad: $ctrl.isLoading['analysis']}" data-toggle="tooltip" title="Analysis Tab">Analysis
                <span ng-show="$ctrl.isLoading['analysis']" class="buttonLoadIcon glyphicon glyphicon-hourglass" ></span>
            </button>
        </div>

        <!-- Table modules -->
        <datatable ng-show="$ctrl.showData" is-loading="$ctrl.isLoading" table-src="$ctrl.data" search-enabled="true" reorder-enabled="true" ></datatable>
        <analysis ng-show="!$ctrl.showData" is-loading="$ctrl.isLoading" web-ids="$ctrl.webIds" ></analysis>

    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
