#side-bar {
    /*border: 5px dotted red;*/
    /* width: 0; */
    /* flex: 0 1 auto; */
    transition: all .5s ease;
    /* border-right: 4px double #dadada; */
    position: relative;
    z-index: 2;
    display: flex;
    height: 100%;
}

.toggled #rMainSidebar1{
    /*border: 2px solid red;*/
}

#rMainSidebar2{
    /*border: 2px solid #1e5799;*/
}
#rMainSidebar3{
    /*border: 2px solid #8dff66;*/
}

#rMain {
    /*border: 5px solid #12a500;*/
    flex: 50 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#rMainTopBar{
    background-color: #4b5473;
    min-height: 50px;
    flex: 1 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
    /*border: 5px solid;*/

}

.rMainTopBarItem{
    display: flex;
    align-items: center;
    min-width: 50px;
    font-size: 1.2em;
    color: #93bc3e;
}

#rMainTopBarAppName{
    position: absolute;
    left: 7px;
    align-self: center;

}

.rMainTopBarItem img{
    transform: scale(0.8);
}


#rMainContent{
    background-color: #f8f9fd;
    flex: 50 1;
    display: flex;
    /*border: 5px solid orange;*/
    width: 100%;
}

.rMainSidebar{
    flex: 1 1;
    min-width: 250px;
    background-color: #f8f9fd;
    transition: 2s ease;
}

#rMainContentView{
    flex-grow: 10;
    background-color: #ffffff;
    /*border: 5px solid #3300ff;*/
    width: 0px;
}




.hideSidebar{
    flex: initial;
    width: 0px;
    min-width: 0px;
    transition: 2s ease;
}

.form-group {
    margin-bottom: 1px;
}

#dashboardBtns {
    position: fixed;
    left: 0px;
    /*top: 33px; */
    /*z-index: 999;*/
    transform: translate(0%,-100%);
}
#side-bar-selector {
    /*border: 5px dotted red;*/
    width: 0;
    flex: 0 1 auto;
    transition: all .5s ease;
    z-index: 2;
}
#side-bar-chart {
    /*border: 5px dotted red;*/
    width: 0;
    flex: 0 1 auto;
    transition: all .5s ease;
    z-index: 2;
}
#wrapper {
    /* padding-left: 0; */
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*border: 4px solid rebeccapurple;*/
}


#wrapper.toggled #side-bar {
    width: 0;
    flex: 1 1 auto;
    transition: all 0.5s ease;
}
#wrapper:not(.toggled) #menu-toggle {
    background-color: #b1d8e1;
}

#wrapper.toggledSelector #side-bar-selector {
    width: 0;
    flex: 1 1 auto;
    transition: all 0.5s ease;
}
#wrapper:not(.toggledSelector) #menu-selector-toggle {
    background-color: #b1d8e1;
}

#wrapper.toggledChart #side-bar-chart {
    width: 0;
    flex: 1 1 auto;
    transition: all 0.5s ease;
}
#wrapper:not(.toggledChart) #menu-chart-toggle {
    background-color: #b1d8e1;
}

@media(min-width:768px) {
    #side-bar {
        flex: 1 1 auto;
    }
    #wrapper.toggled #side-bar {
        flex: 0 1 auto;
    }

    #side-bar-selector {
        flex: 1 1 auto;
    }
    #wrapper.toggledSelector #side-bar-selector {
        flex: 0 1 auto;
    }

    #side-bar-chart {
        flex: 1 1 auto;
    }

    #wrapper.toggledChart #side-bar-chart {
        flex: 0 1 auto;
    }
}

.buttonLoad {
    background-color: #fff4ce;
}

/* Animated loading icon on "Analysis" button */
.buttonLoadIcon {
    animation: rotateStop 3s linear infinite;
    display: inline-block;
}

@keyframes rotateStop {
    0% {
        transform: rotate(0deg) scale(1);

    }
    40% {
        transform: rotate(0deg) scale(1.1);
    }
    80% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}



.progress {
    position: absolute;
    width: 100%;
    top: 5%;
    opacity: 100;
    animation: fadeInFromNone 3s ease-out;
}
@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: inline-block;
        opacity: 0;
    }

    100% {
        display: inline-block;
        opacity: 1;
    }
}

datatable{
    /*border: 5px solid purple;*/
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}