<div class="form-inline">
    <label for="date">Date Range</label>
    <input date-range-picker class="form-control date-picker" type="text" name="date" ng-model="$ctrl.datePicker.date" options="$ctrl.DRPOptions"/>
</div>

<div class="form-inline">
    <label for="interval">Sample every</label>
    <div class="form-group">
        <input type="text" class="form-control" name="interval" placeholder="Interval" ng-model="$ctrl.interval">
        <select class="selectpicker form-control" ng-model="$ctrl.intervalUnits" ng-options="option.name for option in $ctrl.intervalOptions"></select>
    </div>
</div>

<button class="btn btn-primary" type="button" ng-click="$ctrl.generateChart()">Graph</button>


<div ng-show="$ctrl.isLoading" class="progress center-block" style="width: 75%">
    <div class="progress-bar progress-bar-striped active" role="progressbar" ng-style="{ width: ($ctrl.getProgress() + '%') }">
        <span>{{ ($ctrl.getProgress() | number:0) + '%' }}</span>
    </div>
</div>

<div>
    <nvd3 ng-hide="$ctrl.isLoading" config="$ctrl.focusConfig" options="$ctrl.focusOptions" data="$ctrl.datasetFlat"><nvd3>
</div>

<!--
Time Range: {{ ($ctrl.extent[0] | date:'MM/dd HH:mm') + ' to ' + ($ctrl.extent[1] | date:'MM/dd HH:mm') }}
-->

<nvd3 ng-hide="$ctrl.isLoading" config="$ctrl.lineConfig" options="$ctrl.lineOptions" data="$ctrl.dataset"><nvd3>